<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahmed.usuf.billingdesign" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Volley.AppController"
        android:allowBackup="true"
        android:icon="@drawable/srm"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".Activities.HomeScreen"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activities.LoginScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.DateHistoryScreen"
            android:label="@string/title_activity_config_screen" >
        </activity>
        <activity
            android:name=".Activities.ConfigScreen"
            android:label="@string/title_activity_config_screen" >
        </activity>
    </application>

</manifest>
